/*removes original number*/
.custom-ol-li ol { 
    counter-reset: item;
    list-style-type: none;
    }
    
    .custom-ol-li ol li { 
    display: block; 
    }
    
    .custom-ol-li ol li:before { 
    content: counter(item)"."; 
    counter-increment: item; 
    }
    
    /*large-number font*/
    .custom-ol-li ol li:before{
    position: absolute;
    margin-left: -70px;
    font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
    color: #ccc;
    }
    
    /*Heading font*/
    .custom-ol-li ol li{
    font: 18px Open Sans, sans-serif;
    line-height:32px;
    padding-left: 60px;
    color: #000;
    position: relative;
    }
    
    /*paragraph font*/
    .custom-ol-li li p{
    font: 14px Open Sans, sans-serif;
    line-height:20px;
    color: #555;
    }
    
    /*width and style of list*/
    .custom-ol-li ol{
    max-width:500px;
    text-align:justify;
    }
    
    /*generic alignment*/
    .custom-ol-li ol li {
    text-indent: 0 !important;
    padding-left: 20px !important;
    list-style-position: outside;
    margin-left: 20px;
    list-style-type: number;
    }
    
    .custom-ol-li ol li {
    text-indent: 0 !important;
    padding-left: 20px !important;
    list-style-position: outside;
    margin-left: 20px;
    padding-bottom:30px;
    }
    
    .custom-ol-li ol {
    margin-left: 20px;
    }