body,
header,
nav,
footer,
main,
h1,
div,
img,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* header {
    width: 25%;
    float: left;
} */

/* style rules for mobile viewport */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 9999;
}

header img {
    margin: 0 auto;
}

main {
    clear: left;
    background-color: #fff;
    padding: 1%;
    /* font-size: 1.25em; */
    font-family: 'Roboto Slab', serif;
    /* border: 1px solid #000; */
    border-radius: 2px 3px 4px 5px;
    /* height: 1100px; */
    overflow: auto;
    overflow-y: hidden;
}

p {
    font-size: 0.8em;
    text-align: justify;
}

span {
    font-size: 14px;
    text-align: justify;
}

.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.hours {
    margin-left: 10%;
}

body {
    background-color: #000;
}

h1 {
    text-align: center;
}

hr {
    border-color: #cccccc47;
}

nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    /* margin: 0; */
    text-align: center;
}

nav li {
    /* display: inline-block; */
    font-size: 1.25em;
    font-family: 'Francois One', sans-serif;
    /* font-weight: bold; */
    border-top: 1px solid #fff;
}

nav li a {
    display: block;
    color: #fff;
    /* text-align: center; */
    padding: 0.5em 1em;
    text-decoration: none;
}

ul {
    list-style-type: square;
    list-style-image: url(arrow.png);
}

ol {
    list-style-type: upper-roman;
}

li:first-child {
    border-top: none;
}

img {
    max-width: 100%;
    display: block;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

#contact .contact-email-link {
    color: #666600;
    text-decoration: none;
}

#container {
    width: 100%;
    margin: 0 auto;
}

/* Media Query for tablet viewport */
@media screen and (min-width: 630px),
print {

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block !important;
    }

    .mobile {
        display: none !important;
    }

    /* Tablet Viewport: Style rule for header */
    header {
        position: static;
        padding-bottom: 2%;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em 0.75em;
    }

    /* Tablet Viewport: Style rules for main content area */
    main ul {
        margin: 0 0 4% 10%;
    }

    #exercises {
        clear: left;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background: linear-gradient(to right, #ccc, #fff);
        background-color: #f2f2f2;
        padding: 1% 2%;
    }

    #exercises dt {
        font-weight: bold;
    }

    #exercises dd {
        padding: 0.5% 1% 2% 0;
    }

    .tel-num {
        font-size: 1.25em;
    }

    .map {
        width: 600px !important;
        height: 450px !important;
    }

    .main-quote {
        color: #ffff;
        font-size: 2em;
        position: absolute;
        top: 45%;
        right: 3%;
        font-family: "Pacifico", cursive;
    }

    .main-quote-inner {
        font-size: 1.3em;
        color: #1a94ff;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px),
print {

    /* Desktop Viewport: Style rule for header */
    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav {
        float: right;
        width: 70%;
        margin: 1em 1em 1em 0;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        border: none;
    }

    nav li a {
        padding: 0.5em 1em;
    }

    nav li a:hover {
        color: #fff;
        background-color: #2878be;
        border-radius: 16px;
    }

    /* Desktop Viewport: Style Rules for main content */
    main {
        clear: left;
    }

    main h1 {
        font-size: 1.8em;
    }

    #weights,
    #cardio,
    #training {
        width: 29%;
        float: left;
        margin: 0 2%;
    }

    #exercises {
        clear: left;
    }

    .main-quote {
        color: #ffff;
        font-size: 2em;
        position: absolute;
        top: 45%;
        right: 3%;
        font-family: "Pacifico", cursive;
    }

    .main-quote-inner {
        font-size: 1.3em;
        color: #1a94ff;
        ;
    }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {

    #container {
        width: 1920px;
        margin: 0 auto;
    }

    .main-quote {
        color: #ffff;
        font-size: 2em;
        position: absolute;
        top: 45%;
        right: 3%;
        font-family: "Pacifico", cursive;
    }

    .main-quote-inner {
        font-size: 1.3em;
        font-weight: bold;
        color: #1a94ff;
        ;
    }
}

/* Media Query for Print */
@media print {

    body {
        background-color: #fff;
        color: #000;
    }

}

#contact {
    text-align: center;
}

#contact a {
    color: #666600;
    text-decoration: none;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

.external-link {
    color: #666600;
    font-weight: bold;
    text-decoration: none;
}

.map {
    height: 50%;
    width: 95%;
    border: 2px solid #000;
}

/* show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

.round {
    border-radius: 8px;
}

.main-img {
    height: calc(100vh - 107px);
}

.logo-img {
    height: 65px;
    border-radius: 15px;
    margin: 1em 0em 1em 3em;
}

.why-ujala-img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.why-ujala-block {
    padding: 2%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bg-1 {
    background-color: #1a94ff36;
}

.bg-2{
    background-color: #b3ffb375;
}

.d-flex {
    display: flex !important;
}

/* main section */
.main-section {
    background-color: #8b888830;
    padding: 2%;
}

.header1 {
    font-size: 30px;
}

.border-box {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    font-weight: 800;
    border: 3px solid #000;
}

/* card css */
.cardBox {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.7%;
}

.specials .cardBox {
    width: 48%;
}

.cardBox:hover .card {
    transform: rotateY(180deg);
}

.card {
    background: #fff;
    cursor: default;
    height: 430px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}

.card p {
    margin-top: 1em;
    font-size: 12px;
}

.card .front,
.card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    /* color: white; */
    box-shadow: 0 0 8px #2626261A;
    display: block;
    font-size: 1.2em;
    height: 100%;
    padding: 0.4em;
    position: absolute;
    /* text-align: center; */
    width: 100%;
}

.card .front strong {
    background: #fff;
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
}

.card .back {
    transform: rotateY(180deg);
}

.card .back a {
    padding: 0.3em 0.5em;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.2s ease 0s;
}

.card .back a:hover {
    background: #fff;
    color: #333;
    text-shadow: 0 0 1px #333;
}

@-webkit-keyframes anim {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes anim {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 767px) {
    .cardBox {
        margin-left: 2.8%;
        margin-top: 3%;
        width: 46%;
    }

    .card {
        height: 430px;
    }

    .cardBox:last-child {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 480px) {
    .cardBox {
        width: 94.5%;
    }

    .card {
        height: 430px;
    }

    .logo-img {
        margin: 0 auto;
        padding: 10px;
    }
}

.badge-exclusive {
    border-radius: 6px;
    background-color: #fff6c9;
    font-size: 0.5em;
    font-weight: 800;
    padding: 2.5%;
}

.badge-top-rated {
    border-radius: 6px;
    background-color: #daeaf3;
    font-size: 0.5em;
    font-weight: 800;
    padding: 2.5%;
}

.badge-offer {
    border-radius: 6px;
    background-color: #b3ffb3;
    font-size: 0.5em;
    font-weight: 800;
    padding: 2.5%;
}

.product-m {
    margin: 6%;
    height: 200px;
}

.product-img {
    height: 100%;
    margin: 0 auto;
}

.deal-img {
    height: 150px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 9px #000;
    margin: 0 auto;
}

/* common margin and padding classes */
.mt-1 {
    margin-top: 0.5em;
}

.mt-2 {
    margin-top: 1em;
}

.mt-3 {
    margin-top: 1.5em;
}

.mt-4 {
    margin-top: 2em;
}

.mb-1 {
    margin-bottom: 0.5em;
}

.mb-2 {
    margin-bottom: 1em;
}

.mb-3 {
    margin-bottom: 1.5em;
}

.mb-4 {
    margin-bottom: 2em;
}

.ml-4 {
    margin-left: 2em;
}

.mr-4 {
    margin-right: 2em;
}

.pt-1 {
    padding-top: 0.5em;
}

.pt-2 {
    padding-top: 1em;
}

.pt-3 {
    padding-top: 1.5em;
}

.pt-4 {
    padding-top: 2em;
}

.pb-1 {
    padding-bottom: 0.5em;
}

.pb-2 {
    padding-bottom: 1em;
}

.pb-3 {
    padding-bottom: 1.5em;
}

.pb-4 {
    padding-bottom: 2em;
}

.p-4{
    padding: 2em;
}

/* font size options */
.fs-9 {
    font-size: 0.5000em !important;
}

.fs-8 {
    font-size: 0.45em !important;
}

.text-center {
    text-align: center;
}

/* footer */
.row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer {
    background-color: #000;
    padding: 20px 10px;
}

.f-container {
    padding-left: 60px;
}

.footer-col {
    width: 25%;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1a94ff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.copyright {
    background: #24262b;
    color: #fff;
    padding: 2%;
    text-align: center;
}

.float-right {
    float: right;
}

/* customize scroll bar */
*::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000a6;
    border-radius: 2px;
}

.overflow-y-h {
    overflow-y: hidden;
}

.font-pacifico {
    font-family: "Pacifico", cursive;
}

.font-francois-one {
    font-family: 'Francois One', sans-serif;
}

.d-flex {
    display: flex;
    ;
}

.main-label{
    font-size: 2em;
    border-bottom: 2px solid #000;  
}

.text-left{
    text-align: left !important;
}